<!-- Form Group -->
<form [formGroup]="form" (ngSubmit)="save($event)">
  <p>
    Name: {{ nameField.valid }}
    <input
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInvalid"
      type="text"
      formControlName="name"
    />
    <button [disabled]="nameField.invalid">
      Get json
    </button>
  </p>

  <div class="messages" [class.active]="nameField.touched && nameField.invalid">
    <p>
      <strong *ngIf="nameField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="nameField.hasError('maxlength')">
        Debe tener máximo 10 caracteres
      </strong>
    </p>

    <p>
      <strong *ngIf="nameField.hasError('pattern')">
        No debe tener caracteres especiales
      </strong>
    </p>
  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </p>

  <div class="messages" [class.active]="emailField.touched && emailField.invalid">
    <p>
      <strong *ngIf="emailField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="emailField.hasError('email')">
        No es un email válido
      </strong>
    </p>
  </div>

  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone" />
  </p>

  <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
    <p>
      <strong *ngIf="phoneField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="phoneField.hasError('maxlength')">
        Debe tener máximo 10 caracteres
      </strong>
    </p>
  </div>

  <p>
    Age: {{ ageField.value }}
    <input type="number" formControlName="age" />
  </p>

  <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <p>
      <strong *ngIf="ageField.touched && ageField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="ageField.hasError('max')">
        Debe ser menor a 100 años
      </strong>
      <strong *ngIf="ageField.hasError('min')">
        Debe ser mayor a 17 años
      </strong>
    </p>
  </div>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </p>

  <p>
    Id: {{ idField.value }}
    <input type="number" formControlName="id" />
  </p>

  <p>
    Search: {{ searchField.value }}
    <input type="search" formControlName="search" />
  </p>

  <p>
    Image: {{ imageField.value }}
    <input type="file" accept="image/*" />
  </p>

  <!-- SELECTS -->
  <p>
    Tipo: {{ categoryField.value }}
    <select formControlName="category">
      <option value="tipo-1">Mamífero</option>
      <option value="tipo-2">Anfibio</option>
      <option value="tipo-3">Reptiles</option>
      <option value="tipo-4">Aves</option>
    </select>
  </p>

  <p>
    Tipo: {{ tagField.value }}
    <select formControlName="multiply" multiple size="2">
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <!-- INPUTS CHECKBOX Y RADIO -->
  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
  </p>

  <p>
    Gender: {{ genderField.value }}
    <label>
      Male
      <input name="genre" type="radio" value="male" formControlName="gender" />
    </label>
    <label>
      Female
      <input
        name="genre"
        type="radio"
        value="female"
        formControlName="gender"
      />
    </label>
    <label>
      Other
      <input
        name="genre"
        type="radio"
        value="other"
        formControlName="gender"
      />
    </label>
  </p>

  <!-- Preferencias -->
  <div>
    <p>Preferencias: {{ preferenciasField.value }}</p>
    Contenido digital
    <input
      name="prefer"
      type="checkbox"
      value="Contenido-digital"
      formControlName="preferencias"
    />
    Diseño y UX
    <input
      name="prefer"
      type="checkbox"
      value="Diseño-UX"
      formControlName="preferencias"
    />
    Marketing
    <input
      name="prefer"
      type="checkbox"
      value="Marketing"
      formControlName="preferencias"
    />
    Negocios
    <input
      name="prefer"
      type="checkbox"
      value="Negocios"
      formControlName="preferencias"
    />
  </div>

  <p>
    <button [disabled]="form.invalid" type="submit">
      Enviar
    </button>
  </p>
</form>
