<!-- Form Group -->
<form [formGroup]="form" (ngSubmit)="save($event)">
  <mat-card>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-error [class.active]="isNameFieldInvalid">
        <ng-container *ngIf="nameField.hasError('required')">
          Este campo es requerido
        </ng-container>
        <ng-container *ngIf="nameField.hasError('maxlength')">
          Debe tener máximo 10 caracteres
        </ng-container>
        <ng-container *ngIf="nameField.hasError('pattern')">
          No debe tener caracteres especiales
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input type="text" matInput formControlName="descripcion" />
      <mat-error [class.active]="descripcionField.touched && descripcionField.invalid">
        <ng-container *ngIf="descripcionField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="isDescripcionFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isDescripcionFieldInvalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput input type="email" formControlName="email" />
      <mat-error [class.active]="emailField.touched && emailField.invalid">
        <ng-container *ngIf="emailField.hasError('required')">
          Este campo es requerido
        </ng-container>
        <ng-container *ngIf="emailField.hasError('email')">
          Debe ser un email válido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="emailField.valid">done</mat-icon>
      <mat-icon matSuffix *ngIf="emailField.invalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput input type="text" formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput input type="number" formControlName="age" />
      <mat-error [class.active]="ageField.touched && ageField.invalid">
        <ng-container *ngIf="ageField.hasError('required')">
          Este campo es requerido
        </ng-container>
        <ng-container *ngIf="ageField.hasError('max')">
          Debe ser menor a 100 años
        </ng-container>
        <ng-container *ngIf="ageField.hasError('max')">
          Debe ser mayor a 17 años
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="ageField.valid">done</mat-icon>
      <mat-icon matSuffix *ngIf="ageField.invalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput input type="color" formControlName="color" />
      <mat-error [class.active]="colorField.touched && colorField.invalid">
        <ng-container *ngIf="colorField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="colorField.valid">done</mat-icon>
      <mat-icon matSuffix *ngIf="colorField.invalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput input type="number" formControlName="id" />
      <mat-error [class.active]="idField.touched && idField.invalid">
        <ng-container *ngIf="idField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="idField.valid">done</mat-icon>
      <mat-icon matSuffix *ngIf="idField.invalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput input type="search" formControlName="search" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Imagen</mat-label>
      <input
        matInput
        input
        type="file"
        accept="image/*"
        formControlName="image"
        class="fileImg"
      />
      <mat-error [class.active]="imageField.touched && imageField.invalid">
        <ng-container *ngIf="imageField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="imageField.valid">done</mat-icon>
      <mat-icon matSuffix *ngIf="imageField.invalid">close</mat-icon>
    </mat-form-field>

    <!-- SELECTS -->
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select formControlName="category">
        <mat-option value="Mamífero">Mamífero</mat-option>
        <mat-option value="Anfibio">Anfibio</mat-option>
        <mat-option value="Reptiles">Reptiles</mat-option>
        <mat-option value="Aves">Aves</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- INPUTS CHECKBOX Y RADIO -->
    <div>
      <mat-radio-group aria-label="Select an option" formControlName="genre" >
        <mat-radio-button value="Male" name="genre" (change)="radioChand($event)">Male</mat-radio-button>
        <mat-radio-button value="Female" name="genre" (change)="radioChand($event)">Female</mat-radio-button>
        <mat-radio-button value="Other" name="genre" (change)="radioChand($event)">Other</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <mat-checkbox formControlName="agree">Checked
        <mat-error [class.active]="agreeField.touched && agreeField.invalid">
          <ng-container *ngIf="agreeField.hasError('required')">
            Este campo es requerido
          </ng-container>
        </mat-error>
        <mat-icon matSuffix *ngIf="agreeField.valid">done</mat-icon>
        <mat-icon matSuffix *ngIf="agreeField.invalid">close</mat-icon>
      </mat-checkbox>
    </div>

    <div>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-button
        color="primary"
      >
        Enviar
      </button>
    </div>
  </mat-card>

</form>

<mat-card *ngIf="valores" class="ctnp">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ valores.name }}</mat-card-title>
    <mat-card-subtitle>{{ valores.age }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="valores.image">
  <mat-card-content>
    <p>
      {{ valores.descripcion }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ valores.category }}</button>
    <button mat-button>{{ valores.genre }}</button>
  </mat-card-actions>
</mat-card>
