<!-- Crear un Form Control con el template -->
<p>
  Name: {{ nameField.value }} {{ nameField.valid }}
  <input type="text" [formControl]="nameField" />
  <button [disabled]="nameField.invalid" (click)="getNameValue()">Get json</button>
</p>

<p>
  <strong *ngIf="nameField.touched && nameField.hasError('required')">
    Este campo es requerido
  </strong>
</p>

<p>
  <strong *ngIf="nameField.hasError('maxlength')">
    Debe tener máximo 10 caracteres
  </strong>
</p>

<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField" />
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField" />
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField" />
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField" />
</p>

<p>
  Number: {{ numberField.value }}
  <input type="number" [formControl]="numberField" />
</p>

<p>
  Search: {{ searchField.value }}
  <input type="search" [formControl]="searchField" />
</p>

<p>
  Image: {{ imageField.value }}
  <input type="file" accept="image/*" />
</p>

<!-- SELECTS -->
<p>
  Tipo: {{ categoryField.value }}
  <select [formControl]="categoryField">
    <option value="tipo-1">Mamífero</option>
    <option value="tipo-2">Anfibio</option>
    <option value="tipo-3">Reptiles</option>
    <option value="tipo-4">Aves</option>
  </select>
</p>

<p>
  Tipo: {{ multiplytagField.value }}
  <select [formControl]="multiplytagField" multiple size="2">
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
    <option value="tag-4">Tag 4</option>
  </select>
</p>

<!-- INPUTS CHECKBOX Y RADIO -->
<p>
  Agree: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField" />
</p>

<p>
  Gender: {{ genderField.value }}
  <label>
    Male
    <input name="genre" type="radio" value="male" [formControl]="genderField" />
  </label>
  <label>
    Female
    <input name="genre" type="radio" value="female" [formControl]="genderField" />
  </label>
  <label>
    Other
    <input name="genre" type="radio" value="other" [formControl]="genderField" />
  </label>
</p>

<!-- Preferencias -->
<div>
  <p>Preferencias: {{ preferencias.value }}</p>
  Contenido digital
  <input name="prefer" type="checkbox" value="Contenido-digital" [formControl]="preferencias">
  Diseño y UX
  <input name="prefer" type="checkbox" value="Diseño-UX" [formControl]="preferencias">
  Marketing
  <input name="prefer" type="checkbox" value="Marketing" [formControl]="preferencias">
  Negocios
  <input name="prefer" type="checkbox" value="Negocios" [formControl]="preferencias">
</div>

<!-- <code>
  <pre>
    {{ nameField }}
  </pre>
</code> -->
