<form [formGroup]="form" (ngSubmit)="save($event)">
  <mat-card>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input type="number" matInput formControlName="id" />
      <mat-error [class.active]="idField.valid">
        <ng-container *ngIf="nameField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="nombre" />
      <mat-error [class.active]="isNameFieldInvalid">
        <ng-container *ngIf="nameField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input type="text" matInput formControlName="descripcion" />
      <mat-error
        [class.active]="descripcionField.touched && descripcionField.invalid"
      >
        <ng-container *ngIf="descripcionField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
      <mat-icon matSuffix *ngIf="isDescripcionFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isDescripcionFieldInvalid">close</mat-icon>
    </mat-form-field>

    <!-- SELECTS -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option name="tipo" value="Mamífero">Mamífero</mat-option>
        <mat-option name="tipo" value="Anfibio">Anfibio</mat-option>
        <mat-option name="tipo" value="Reptiles">Reptiles</mat-option>
        <mat-option name="tipo" value="Aves">Aves</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Clasificación</mat-label>
      <mat-select formControlName="clasificacion">
        <mat-option name="clasificacion" value="Acuático">Acuático</mat-option>
        <mat-option name="clasificacion" value="Terrestre">Terrestre</mat-option>
        <mat-option name="clasificacion" value="Aéreo">Aéreo</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- INPUT IMAGEN -->
    <mat-form-field>
      <input
        matInput
        input
        type="file"
        accept="image/*"
        formControlName="imagen"
        class="fileImg"
      />
      <mat-error [class.active]="imageField.touched && imageField.invalid">
        <ng-container *ngIf="imageField.hasError('required')">
          Este campo es requerido
        </ng-container>
      </mat-error>
    </mat-form-field>
  </mat-card>
  <div>
    <button
      [disabled]="form.invalid"
      type="submit"
      mat-raised-button
      color="primary">
      Guardar
    </button>
  </div>
</form>
<!-- <mat-card *ngIf="valores" class="ctnp">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ valores.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ valores.tipo }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="valores.imagen">
  <mat-card-content>
    <p>
      {{ valores.descripcion }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ valores.categoria }}</button>
  </mat-card-actions>
</mat-card> -->


<mat-card *ngFor="let formu in valores" class="ctnp">
  <div *ngFor="let f in form">
    <mat-card-header >
      <div mat-card-avatar></div>
      <mat-card-title>{{ f['nombre'].value }}</mat-card-title>
      <mat-card-subtitle>{{ f['tipo'].value }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="f['imagen'].value">
    <mat-card-content>
      <p>
        {{ f['descripcion'].value }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{ f['categoria'].value }}</button>
    </mat-card-actions>
  </div>
</mat-card>
